<div
  class="alert alert-success d-flex align-items-center justify-content-between"
  role="alert"
>
  <div
    style="font-size: 1.5rem"
    class="d-flex align-items-center justify-content-center"
  >
    <span> Bienvenido </span>

    <span class="ms-3">
      <img
        src="<%= userData.avatar %>"
        style="width: 45px; margin-right: 5px"
      />
    </span>
    <span> <%= userData.nombre %> </span>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <span class="me-4">
      <a href="/"
        ><i
          class="bi bi-house"
          style="font-size: 1.8em; color: rgb(19, 81, 51)"
        ></i
      ></a>
    </span>

    <span>
      <a href="/carrito/cart">
        <i
          class="bi bi-cart2 me-4"
          style="font-size: 1.8em; color: rgb(19, 81, 51)"
        ></i>
      </a>
    </span>

    <span>
      <form action="/logout" method="get">
        <button
          type="submit"
          style="background: none; padding: 0px; border: none"
        >
          <i
            style="font-size: 1.8em; color: rgb(19, 81, 51)"
            class="bi bi-box-arrow-right"
          >
          </i>
        </button></form
    ></span>
  </div>
</div>
